form{
    margin-top : 5vh;
    display: flex;
    width: 75vw;
    height: 50px;
    margin-left: 100px;
    width: 75vw;
    height: 50px;
    background-color: #434343;
    border :none;
    border-radius: 25px;
    justify-content: start;
    align-items: center;
}

svg {
    margin-left: 20px;
    opacity: 60%;
}

#searchBar {
    margin-left: 10px;
    width: 95%;
    height: 80%;
    font-size: 20px;
    background-color: #434343;
    border : none;
    color: white;
    opacity: 60%;
}

input:focus {
    outline: none;
}



